<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-4.0.xsd">
                        
             
           <!-- sping 和 Service这一层相关的配置
           	这个扫描的作用是：sping容器为我们创建service实例
            -->
   
   <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="100" /> <!-- 最大能够保持idel状态的对象数  -->
        <property name="maxTotal" value="3000" /> <!-- 最大分配的对象数 -->
        <property name="testOnBorrow" value="true" /> <!-- 当调用borrow Object方法时，是否进行有效性检查 -->
    </bean>
   
   
	<!-- 单机环境 -->
	<bean id="redisClient" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="poolConfig" ref="jedisPoolConfig" />
		<constructor-arg name="host" value="r-2zea1510101f75a4.redis.rds.aliyuncs.com"/>
        <constructor-arg name="port" value="6379"/>
        <constructor-arg name="timeout" value="3000"/>
        <constructor-arg name="password" value="MokaVip123"/>
	</bean>
	<bean id="jedisClient" class="com.luxton.jedis.impl.JedisClientSingle"></bean>
	 
       
</beans>
















