<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxton.mapper.LuxAdvertMapper" >
  <resultMap id="BaseResultMap" type="com.luxton.pojo.LuxAdvert" >
    <id column="advert_id" property="advertId" jdbcType="INTEGER" />
    <result column="advert_type" property="advertType" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    advert_id, advert_type, item_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luxton.pojo.LuxAdvertExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lux_advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  
  
  <select id="getAdvertList" resultType="com.luxton.pojo.common.AdvertWithItem" parameterType="java.lang.String" >
    SELECT  la.advert_id ,la.item_id itemId ,item.pic_url picUrl ,item.title
		,item.price ,item.sell_point sellPoint
		
	FROM lux_advert la
	LEFT JOIN lux_item item
	ON la.item_id = item.item_id
	WHERE la.advert_type = #{advertType,jdbcType=VARCHAR}

  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lux_advert
    where advert_id = #{advertId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lux_advert
    where advert_id = #{advertId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxton.pojo.LuxAdvertExample" >
    delete from lux_advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxton.pojo.LuxAdvert" >
    insert into lux_advert (advert_id, advert_type, item_id, 
      create_time)
    values (#{advertId,jdbcType=INTEGER}, #{advertType,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luxton.pojo.LuxAdvert" >
    insert into lux_advert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advertId != null" >
        advert_id,
      </if>
      <if test="advertType != null" >
        advert_type,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advertId != null" >
        #{advertId,jdbcType=INTEGER},
      </if>
      <if test="advertType != null" >
        #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxton.pojo.LuxAdvertExample" resultType="java.lang.Integer" >
    select count(*) from lux_advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lux_advert
    <set >
      <if test="record.advertId != null" >
        advert_id = #{record.advertId,jdbcType=INTEGER},
      </if>
      <if test="record.advertType != null" >
        advert_type = #{record.advertType,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lux_advert
    set advert_id = #{record.advertId,jdbcType=INTEGER},
      advert_type = #{record.advertType,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxton.pojo.LuxAdvert" >
    update lux_advert
    <set >
      <if test="advertType != null" >
        advert_type = #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where advert_id = #{advertId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxton.pojo.LuxAdvert" >
    update lux_advert
    set advert_type = #{advertType,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where advert_id = #{advertId,jdbcType=INTEGER}
  </update>
</mapper>