<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxton.mapper.LuxItemPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.luxton.pojo.LuxItemProperty" >
    <id column="item_property_id" property="itemPropertyId" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.luxton.pojo.LuxItemProperty" extends="BaseResultMap" >
    <result column="property_data" property="propertyData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_property_id, item_id, create_time
  </sql>
  <sql id="Blob_Column_List" >
    property_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.luxton.pojo.LuxItemPropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luxton.pojo.LuxItemPropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lux_item_property
    where item_property_id = #{itemPropertyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lux_item_property
    where item_property_id = #{itemPropertyId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxton.pojo.LuxItemPropertyExample" >
    delete from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxton.pojo.LuxItemProperty" >
  
 
  
    insert into lux_item_property (item_property_id, item_id, create_time, 
      property_data)
    values (#{itemPropertyId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{propertyData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luxton.pojo.LuxItemProperty" >
    insert into lux_item_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemPropertyId != null" >
        item_property_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="propertyData != null" >
        property_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemPropertyId != null" >
        #{itemPropertyId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propertyData != null" >
        #{propertyData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxton.pojo.LuxItemPropertyExample" resultType="java.lang.Integer" >
    select count(*) from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lux_item_property
    <set >
      <if test="record.itemPropertyId != null" >
        item_property_id = #{record.itemPropertyId,jdbcType=BIGINT},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.propertyData != null" >
        property_data = #{record.propertyData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update lux_item_property
    set item_property_id = #{record.itemPropertyId,jdbcType=BIGINT},
      item_id = #{record.itemId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      property_data = #{record.propertyData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lux_item_property
    set item_property_id = #{record.itemPropertyId,jdbcType=BIGINT},
      item_id = #{record.itemId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxton.pojo.LuxItemProperty" >
    update lux_item_property
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propertyData != null" >
        property_data = #{propertyData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where item_property_id = #{itemPropertyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.luxton.pojo.LuxItemProperty" >
    update lux_item_property
    set item_id = #{itemId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      property_data = #{propertyData,jdbcType=LONGVARCHAR}
    where item_property_id = #{itemPropertyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxton.pojo.LuxItemProperty" >
    update lux_item_property
    set item_id = #{itemId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where item_property_id = #{itemPropertyId,jdbcType=BIGINT}
  </update>
</mapper>