<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxton.mapper.LuxItemPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.luxton.pojo.LuxItemProperty" >
    <id column="iproperty_id" property="ipropertyId" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="property_id" property="propertyId" jdbcType="INTEGER" />
    <result column="property_value_id" property="propertyValueId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="is_sku" property="isSku" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    iproperty_id, item_id, property_id, property_value_id, sku_id, is_sku
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luxton.pojo.LuxItemPropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  
  
  <select id="getItemPropertyValue" resultType="com.luxton.pojo.LuxPropertyValue" >
    SELECT lip.property_value_id propertyValueId ,lpv.value_title valueTitle
	FROM lux_item_property lip
	
	LEFT JOIN lux_property_value lpv
	ON lip.property_value_id = lpv.property_value_id 
	
	WHERE lip.property_id = #{propertyId,jdbcType=INTEGER} AND lip.item_id = #{itemId,jdbcType=INTEGER}

  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lux_item_property
    where iproperty_id = #{ipropertyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lux_item_property
    where iproperty_id = #{ipropertyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxton.pojo.LuxItemPropertyExample" >
    delete from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxton.pojo.LuxItemProperty" >
    insert into lux_item_property (iproperty_id, item_id, property_id, 
      property_value_id, sku_id, is_sku
      )
    values (#{ipropertyId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{propertyId,jdbcType=INTEGER}, 
      #{propertyValueId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{isSku,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luxton.pojo.LuxItemProperty" >
    insert into lux_item_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ipropertyId != null" >
        iproperty_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="propertyId != null" >
        property_id,
      </if>
      <if test="propertyValueId != null" >
        property_value_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="isSku != null" >
        is_sku,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ipropertyId != null" >
        #{ipropertyId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="propertyValueId != null" >
        #{propertyValueId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="isSku != null" >
        #{isSku,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxton.pojo.LuxItemPropertyExample" resultType="java.lang.Integer" >
    select count(*) from lux_item_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lux_item_property
    <set >
      <if test="record.ipropertyId != null" >
        iproperty_id = #{record.ipropertyId,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.propertyId != null" >
        property_id = #{record.propertyId,jdbcType=INTEGER},
      </if>
      <if test="record.propertyValueId != null" >
        property_value_id = #{record.propertyValueId,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null" >
        sku_id = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.isSku != null" >
        is_sku = #{record.isSku,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lux_item_property
    set iproperty_id = #{record.ipropertyId,jdbcType=INTEGER},
      item_id = #{record.itemId,jdbcType=INTEGER},
      property_id = #{record.propertyId,jdbcType=INTEGER},
      property_value_id = #{record.propertyValueId,jdbcType=INTEGER},
      sku_id = #{record.skuId,jdbcType=INTEGER},
      is_sku = #{record.isSku,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxton.pojo.LuxItemProperty" >
    update lux_item_property
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null" >
        property_id = #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="propertyValueId != null" >
        property_value_id = #{propertyValueId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="isSku != null" >
        is_sku = #{isSku,jdbcType=BIT},
      </if>
    </set>
    where iproperty_id = #{ipropertyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxton.pojo.LuxItemProperty" >
    update lux_item_property
    set item_id = #{itemId,jdbcType=INTEGER},
      property_id = #{propertyId,jdbcType=INTEGER},
      property_value_id = #{propertyValueId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      is_sku = #{isSku,jdbcType=BIT}
    where iproperty_id = #{ipropertyId,jdbcType=INTEGER}
  </update>
</mapper>