<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxton.mapper.LuxItemCatMapper" >
  <resultMap id="BaseResultMap" type="com.luxton.pojo.LuxItemCat" >
    <id column="cat_id" property="catId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="search_title" property="searchTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cat_id, parent_id, title, sort_order, search_title, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luxton.pojo.LuxItemCatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lux_item_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lux_item_cat
    where cat_id = #{catId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lux_item_cat
    where cat_id = #{catId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxton.pojo.LuxItemCatExample" >
    delete from lux_item_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxton.pojo.LuxItemCat" >
  
  <selectKey resultType="int" keyProperty="catId" order="AFTER">
			select last_insert_id()
	</selectKey>
  
    insert into lux_item_cat (cat_id, parent_id, title, 
      sort_order, search_title, create_time
      )
    values (#{catId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=INTEGER}, #{searchTitle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luxton.pojo.LuxItemCat" >
  
  <selectKey resultType="int" keyProperty="catId" order="AFTER">
			select last_insert_id()
	</selectKey>
  
    insert into lux_item_cat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="searchTitle != null" >
        search_title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="searchTitle != null" >
        #{searchTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxton.pojo.LuxItemCatExample" resultType="java.lang.Integer" >
    select count(*) from lux_item_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lux_item_cat
    <set >
      <if test="record.catId != null" >
        cat_id = #{record.catId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.searchTitle != null" >
        search_title = #{record.searchTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lux_item_cat
    set cat_id = #{record.catId,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      search_title = #{record.searchTitle,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxton.pojo.LuxItemCat" >
    update lux_item_cat
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="searchTitle != null" >
        search_title = #{searchTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cat_id = #{catId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxton.pojo.LuxItemCat" >
    update lux_item_cat
    set parent_id = #{parentId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      search_title = #{searchTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where cat_id = #{catId,jdbcType=INTEGER}
  </update>
</mapper>