<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxton.mapper.LuxOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.luxton.pojo.LuxOrderItem" >
    <id column="order_item_id" property="orderItemId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="price_total" property="priceTotal" jdbcType="DECIMAL" />
    <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_item_id, order_id, item_id, num, price, price_total, item_title, item_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luxton.pojo.LuxOrderItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lux_order_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  
  
  
  <select id="getByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from lux_order_item
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lux_order_item
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lux_order_item
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxton.pojo.LuxOrderItemExample" >
    delete from lux_order_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxton.pojo.LuxOrderItem" >
    insert into lux_order_item (order_item_id, order_id, item_id, 
      num, price, price_total, 
      item_title, item_type)
    values (#{orderItemId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{priceTotal,jdbcType=DECIMAL}, 
      #{itemTitle,jdbcType=VARCHAR}, #{itemType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luxton.pojo.LuxOrderItem" >
    insert into lux_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceTotal != null" >
        price_total,
      </if>
      <if test="itemTitle != null" >
        item_title,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceTotal != null" >
        #{priceTotal,jdbcType=DECIMAL},
      </if>
      <if test="itemTitle != null" >
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxton.pojo.LuxOrderItemExample" resultType="java.lang.Integer" >
    select count(*) from lux_order_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lux_order_item
    <set >
      <if test="record.orderItemId != null" >
        order_item_id = #{record.orderItemId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.priceTotal != null" >
        price_total = #{record.priceTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.itemTitle != null" >
        item_title = #{record.itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.itemType != null" >
        item_type = #{record.itemType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lux_order_item
    set order_item_id = #{record.orderItemId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      price_total = #{record.priceTotal,jdbcType=DECIMAL},
      item_title = #{record.itemTitle,jdbcType=VARCHAR},
      item_type = #{record.itemType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxton.pojo.LuxOrderItem" >
    update lux_order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceTotal != null" >
        price_total = #{priceTotal,jdbcType=DECIMAL},
      </if>
      <if test="itemTitle != null" >
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxton.pojo.LuxOrderItem" >
    update lux_order_item
    set order_id = #{orderId,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      price_total = #{priceTotal,jdbcType=DECIMAL},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR}
    where order_item_id = #{orderItemId,jdbcType=INTEGER}
  </update>
</mapper>